@import "tailwindcss";

@theme {
    --font-sans: 'Outfit', sans-serif;
    --font-display: 'Syne', sans-serif;

    --color-primary: #fe8500;
    --color-primary-50: #fff8ed;
    --color-primary-100: #ffefd5;
    --color-primary-200: #fedbb0;
    --color-primary-300: #fdbf80;
    --color-primary-400: #fc9d4b;
    --color-primary-500: #fe8500;
    --color-primary-600: #ef6a00;
    --color-primary-700: #c64e00;
    --color-primary-800: #9d3d06;
    --color-primary-900: #7e330a;
    --color-primary-950: #441802;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-display);
}

html {
    scroll-padding-top: 80px;
}